{:paths ["src" "resources" "target" "test"]

 :deps {org.clojure/clojure                 {:mvn/version "1.10.1"}
        org.clojure/data.csv                {:mvn/version "1.0.0"}
        org.clojure/java.jdbc               {:mvn/version "0.7.11"}
        org.postgresql/postgresql           {:mvn/version "42.2.16"}
        net.mikera/core.matrix              {:mvn/version "0.62.0"}
        net.mikera/vectorz-clj              {:mvn/version "0.48.0"}
        sig-gis/magellan                    {:mvn/version "0.2.0"}
        org.clojars.lambdatronic/matrix-viz {:mvn/version "0.1.7"}}

 :mvn/repos {"OSGeo" {:url "https://repo.osgeo.org/repository/release/"}}

 :aliases {:nrepl        {:main-opts  ["-m" "lambdaisland.nrepl.main" "-i" "gridfire.cli"]
                          :extra-deps {lambdaisland/nrepl {:mvn/version "0.2.0"}}}
           :run          {:main-opts ["-m" "gridfire.cli"]}
           :make-uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.97"}}
                          :main-opts  ["-m" "hf.depstar.uberjar" "target/gridfire-1.5.0.jar"]}
           :test         {:extra-deps {com.cognitect/test-runner
                                       {:git/url
                                        "https://github.com/cognitect-labs/test-runner.git"
                                        :sha
                                        "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                          :main-opts  ["-m" "cognitect.test-runner"]}}}
