;; [[file:org/GridFire.org::deps.edn][deps.edn]]
{:paths ["src" "resources"]

 :deps {org.clojure/clojure                 {:mvn/version "1.10.1"}
        org.clojure/data.csv                {:mvn/version "1.0.0"}
        org.clojure/java.jdbc               {:mvn/version "0.7.11"}
        org.postgresql/postgresql           {:mvn/version "42.2.16"}
        net.mikera/core.matrix              {:mvn/version "0.62.0"}
        net.mikera/vectorz-clj              {:mvn/version "0.48.0"}
        sig-gis/magellan                    {:mvn/version "20200909.105353"}
        org.clojars.lambdatronic/matrix-viz {:mvn/version "0.1.7"}}

 :mvn/repos {"osgeo" {:url "https://repo.osgeo.org/repository/release/"}}

 :aliases {:run          {:main-opts ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                      "-m" "gridfire.cli"]}
           :repl         {:main-opts ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                      "-e" "(require,'gridfire.cli)"
                                      "-e" "(in-ns,'gridfire.cli)"
                                      "-r"]}
           :make-uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.0.97"}}
                          :main-opts  ["-m" "hf.depstar.uberjar" "target/gridfire-1.5.0.jar"
                                       "-C" "-m" "gridfire.cli"]}
           :test         {:extra-paths ["test"]
                          :extra-deps  {com.cognitect/test-runner
                                        {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                         :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                          :main-opts   ["-e" "(do,(set!,*warn-on-reflection*,true),nil)"
                                        "-m" "cognitect.test-runner"]}
           :check-deps   {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                          :main-opts  ["-m" "depot.outdated.main"]}}}
;; deps.edn ends here
