;; [[file:../org/GridFire.org::*Server Configuration][Server Configuration:1]]
{:software-dir    "/gridfire/software"
 :incoming-dir    "/gridfire/incoming"
 :active-fire-dir "/gridfire/incoming/active_fires"
 :data-dir        "/gridfire/data"
 :log-dir         "/gridfire/log"}
;; Server Configuration:1 ends here
