{:landfire-layers           {:aspect             {:type   :geotiff
                                                  :source "test/gridfire/resources/canonical_test/zero-raster.tif"}
                             :canopy-base-height {:type   :geotiff
                                                  :source "test/gridfire/resources/canonical_test/zero-raster.tif"
                                                  :units  :imperial}
                             :canopy-cover       {:type   :geotiff
                                                  :source "test/gridfire/resources/canonical_test/zero-raster.tif"}
                             :canopy-height      {:type   :geotiff
                                                  :source "test/gridfire/resources/canonical_test/zero-raster.tif"
                                                  :units  :imperial}
                             :crown-bulk-density {:type   :geotiff
                                                  :source "test/gridfire/resources/canonical_test/zero-raster.tif"
                                                  :units  :metric}
                             :elevation          {:type   :geotiff
                                                  :source "test/gridfire/resources/canonical_test/zero-raster.tif"}
                             :fuel-model         {:type   :geotiff
                                                  :source "test/gridfire/resources/canonical_test/grass-fbfm40.tif"}
                             :slope              {:type   :geotiff
                                                  :source "test/gridfire/resources/canonical_test/zero-raster.tif"}}
 :srid                      "EPSG:32610"
 :cell-size                 98.425         ; (feet)

 :temperature               80  ; (degrees Fahrenheit)
 :relative-humidity         0   ; (%)
 :wind-speed-20ft           10  ; (miles/hour)
 :wind-from-direction       90  ; (degrees cw from north)
 :foliar-moisture           0   ; (%)

 :max-runtime               1440 ; 24 hrs   ; (minutes)
 :ellipse-adjustment-factor 1.0            ; (< 1.0 = more circular, > 1.0 = more elliptical)
 :simulations               5
 :random-seed               1234567890     ; long value (optional)

 :output-geotiffs?          false
 :output-pngs?              true
 :output-directory          "outputs/simple/"
 :output-csvs?              true}

